@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: #fefefe;
  width: 100%;
  height: 100%;
}
.navbar {
  display: flex;
  z-index: 2;
  position: fixed;
  background: #fefefe;
  width: inherit;
  height: 20%;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  max-width: inherit;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.home {
  width: 11vw;
  height: 20vh;
  cursor: pointer;
  border: 0;
  background: #fefefe;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
}

.home:hover {
  box-shadow: 0 3px 10px rgba(50, 50, 50, 0.75);
  background: #0052ffc9;
  color: white;
}

.about {
  width: 11vw;
  height: 20vh;
  cursor: pointer;
  border: 0;
  background: #fefefe;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
}

.about:hover {
  box-shadow: 0 3px 10px rgba(50, 50, 50, 0.75);
  background: #0052ffc9;
  color: white;
}

.campaigns {
  width: 11vw;
  height: 20vh;
  cursor: pointer;
  border: 0;
  background: #fefefe;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
}

.campaigns:hover {
  box-shadow: 0 3px 10px rgba(50, 50, 50, 0.75);
  background: #0052ffc9;
  color: white;
}

.title {
  width: auto;
  border-bottom-left-radius: 40px;
  height: 20vh;
  margin-left: 20px;
}

.volunteer {
  width: 11vw;
  height: 20vh;
  cursor: pointer;
  border: 0;
  background: #fefefe;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  font-size: 20px;
}

.volunteer:hover {
  box-shadow: 0 3px 10px rgba(50, 50, 50, 0.75);
  background: #0052ffc9;
  color: white;
}

.contact {
  width: 11vw;
  height: 20vh;
  cursor: pointer;
  border: 0;
  background: #fefefe;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
}

.contact:hover {
  box-shadow: 0 3px 10px rgba(50, 50, 50, 0.75);
  background: #0052ffc9;
  color: white;
}

.login {
  width: 11vw;
  height: 20vh;
  cursor: pointer;
  border: 0;
  border-bottom-right-radius: 40px;
  background: #fefefe;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
}

.login:hover {
  box-shadow: 0 3px 10px rgba(50, 50, 50, 0.75);
  background: #0052ffc9;
  color: white;
}

.image {
  padding-top: 85px;
  height: 100vh;
}

.smile {
  width: 75%;
  border-radius: 20px;
  z-index: 1;
  height: auto;
}

.center_line {
  top: 35vh;
  left: 0;
  width: 100%;
  position: relative;
  height: 18vh;
  background-color: #0052ffc9;
}

.help1 {
  width: 60%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.help2 {
  width: 40%;
  height: 100%;
  color: white;
  float: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.help2 p {
  font-size: 2.5rem;
  font-weight: normal;
  z-index: 1;
  font-family: "Brush Script MT", cursive;
  filter: opacity(90%);
}

.tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 45vh;
  margin-left: 5%;
  font-size: 3.5vw;
  font-family: "Brush Script MT", cursive;
  filter: opacity(75%);
}

.what {
  position: absolute;
  top: 110%;
  left: 15%;
  width: 20%;
  max-height: 25rem;
  height: 50%;
  font-family: "Plus Jakarta Sans", sans-serif;
  perspective: 1000px;
}

.what:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.why {
  position: absolute;
  top: 110%;
  left: 40.5%;
  width: 20%;
  height: 50%;
  max-height: 25rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  perspective: 1000px;
}

.why:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.how {
  position: absolute;
  top: 110%;
  left: 65.5%;
  width: 20%;
  height: 50%;
  max-height: 25rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  perspective: 1000px;
}

.how:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  position: relative;
  margin-top: -5%;
  width: 100%;
  height: 100%;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  backface-visibility: hidden;
}

.is {
  width: 100%;
  height: 100%;
  margin-top: 5%;
  padding-left: 5%;
  font-size: 3rem;
}

.AidConnect {
  color: #0052ffc9;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: white;
  font-size: 1.2rem;
  text-align: center;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.desc {
  width: 80%;
  padding-left: 20%;
  padding-top: 25%;
}

.statistics {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #0052ffc9;
  width: fit-content;
  font-size: 2.2rem;
}

.stats {
  position: absolute;
  display: flex;
  padding: 0 13px;
  width: 100%;
  height: 50vh;
  top: 180%;
  font-family: "Plus Jakarta Sans", sans-serif;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.stats h1 {
  background-color: #0052ff12 !important;
  border-radius: 100px !important;
  font-size: x-large;
}
.above {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 60%;
}

.below {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 40%;
}

.space {
  width: 100%;
  height: 13%;
}

.users {
  width: 100%;
  height: 20%;
}

.ngo,
.donor,
.needy,
.service {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  float: left;
  font-size: 1.25rem;
}

.ngo h1,
.donor h1,
.needy h1,
.service h1,
.campaign h1,
.donations h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  background: white;
  border-radius: 20px;
}

.user {
  font-weight: lighter;
}

.donations {
  display: flex;
  width: 33vw;
  height: 20%;
  align-items: center;
  height: 20%;
  justify-content: center;
}

.campaign {
  display: flex;
  width: 33vw;
  height: 20%;
  align-items: center;
  justify-content: center;
}

.numbers {
  width: 100%;
  height: 20%;
}

.total,
.completion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  float: left;
}

.total h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 100%;
  background: white;
  border-radius: 20px;
  margin-left: 5%;
}

.completion h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 100%;
  background: white;
  border-radius: 20px;
  margin-right: 5%;
}

.ngo h1:hover,
.donor h1:hover,
.needy h1:hover,
.service h1:hover,
.campaign h1:hover,
.donations h1:hover,
.total h1:hover,
.completion h1:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.feedback {
  position: absolute;
  top: 250%;
  width: 100%;
  height: 60%;
  background: #fefefe;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-top: 1px solid rgb(0 0 0 / 0.2);
  border-left: 1px solid rgb(0 0 0 / 0.2);
  border-right: 1px solid rgb(0 0 0 / 0.2);
}

.up {
  width: 50%;
  height: 100%;
  float: left;
}

.send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
}

.four {
  width: 100%;
  height: 40%;
}

.value {
  font-size: 3.5vw;
  font-family: "Brush Script MT", cursive;
  filter: opacity(75%);
}

.button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30%;
  justify-content: center;
}

.button input {
  width: 15%;
  height: 35%;
  background: #0052ffc9;
  border: 0;
  border-radius: 10px;
  color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: small;
}

.button input:hover {
  cursor: pointer;
  background: black;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.down {
  width: 50%;
  height: 100%;
  float: left;
}

.one,
.two,
.three {
  width: 100%;
  height: 33.33%;
}

.input {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.input1{
  display: flex;
  justify-content: center;
  align-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.input3{
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.input input,.input1 input,.input3 input {
  width: 35vw;
  height: 7vh;
  background-color: #0052ff12;
  border: 0;
  border-radius: 8px;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.input textarea {
  width: 35vw;
  height: 20vh;
  background-color: #0052ff12;
  border: 0;
  border-radius: 8px;
  text-align: center;
  align-content: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  resize: none;
}

.enter {
  width: 90%;
  height: 90%;
}

footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  top: 310%;
  font-family: "Plus Jakarta Sans", sans-serif;
  background: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

@media screen and (max-width: 1281px) {
  body {
    display: none;
  }
}
